.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}


.row .container {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.my_slider .slider-selection  {
	background: #1abc9c;
}
.my_slider .slider-track-high {
    background: #474e5d;
}

.my_slider .slider-selection.tick-slider-selection  {
    background: #1abc9c;
}
.my_slider .slider-tick.in-selection {
    background: #56bfde;
}


.my_slider label {
    padding-bottom: 2em;
}

.form-group div {
    margin-bottom: 0.5em;
}

.container-fluid {
    padding-top: 0em;
    padding-bottom: 0em;
}

.big-chart {
  width:100%;
  height:35em;
}

